.video-subtitle{
    font-family: sans-serif;
    position: absolute;
    bottom: 30px;
    left: 50%;
    color: azure;
    transform: translateX(-50%);
    font-size: 25px;
    width: max-content;
    max-width: 80%;
    text-align: center;
}