.video-subtitle{
    font-family: "Comfortaa", sans-serif;
    position: absolute;
    bottom: 30px;
    left: 50%;
    color: azure;
    transform: translateX(-50%);
    font-size: 1.8rem;
    width: max-content;
    max-width: 80%;
    text-align: center;
}