<div class="open-field">
    <div class="upload-icon">
        <svg-icon
            src="assets/images/upload.svg"
            [svgStyle]="{ 'width.%': 100, 'height.%': 100 }"
        ></svg-icon>
    </div>
    <input type="file" (drop)="openDropFile($event)" (click)="openFile()" />
</div>
<div class="info-field" (click)="openUrl('https://www.wikipedia.org/')">
    <div class="question-icon">
        <svg-icon
            src="assets/images/question.svg"
            [svgStyle]="{ 'width.%': 100, 'height.%': 100 }"
        ></svg-icon>
    </div>
    <p>How to get video files with embedded subtitles</p>
</div>
