<div [ngClass]="open ? 'side-menu open' : 'side-menu'">
  <div class="add-language">
    <button (click)="subtitlesService.loadSubtitles()">+ Upload subtitles</button>
  </div>
  <div class="select-language" *ngIf="subtitlesService.subtitles">
    <span class="select-language-title">Select subtitles: </span>
    <select name="language-subtitle" (change)="onChangeLang($event)">
      <option *ngFor="let lang of subtitlesService.subtitles" [selected]="lang.number === subtitlesService.currentSubtitleLanguageNumber" [value]="lang.number">{{lang.language || 'eng'}}</option>
    </select>
  </div>
    <ul class="subtitle-list">
      <li *ngFor="let subtitle of subtitlesService.getCurrentSubtitles().subtitle">
        <app-item-subtitles-list [subtitle]="subtitle" [shift]="subtitlesService.getCurrentSubtitles().subtitleShift"></app-item-subtitles-list>
      </li>
    </ul>
</div>