li {
    list-style: none;
    margin: 0;
}

.subtitle-list {
    scroll-behavior: smooth;
    height: 100%;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    overflow: auto;
    &::-webkit-scrollbar {
        width: 10px;
    }
    &::-webkit-scrollbar-track {
        background: none;
        border-radius: 20px;
    }
    &::-webkit-scrollbar-thumb {
        transition: all .2s ease-in-out;
        background: var(--sidebar-scroll-bar);
        border-radius: 20px;
    }
}

:host {
    height: 100%;
    overflow: hidden;
}
