<div class="app">
	<div class="first-column">
    <div class="video-container">
        <app-open-file-popup
            *ngIf="this.mpvService.state.duration === 0"
            [openFile]="openFile.bind(this)"
            [recentFiles]= "recentFiles"
        >
        </app-open-file-popup>
        <app-video
            class="video"
            [time]="mpvService.state['time-pos']"
            [filename]="mpvService.state.filename"
            [contextMenuEvent]="contextMenuEvent"
        ></app-video>
        <app-control [openFile]="openFile.bind(this)"></app-control>
        <div
            *ngIf="mpvService.state.duration !== 0"
            class="closeBtn"
            (click)="closeFile($event)"
        >
            <svg-icon
                src="assets/images/close.svg"
                [svgStyle]="{ 'width.%': 100, 'height.%': 100 }"
            ></svg-icon>
        </div>
    </div>
		<app-interlinear></app-interlinear>
	</div>
    <app-side-bar
        [contextMenuEvent]="contextMenuEvent"
        class="side-menu"
        [onChangeTheme]="onChangeTheme.bind(this)"
        [ngStyle]="{
            width: sideBarComponent.sideBarWidth + 'px',
            'margin-right': sideBarComponent.calcMarginRight() + 'px',
            transition: sideBarComponent.isOffTransition ? 'none' : ''
        }"
    >
        ></app-side-bar
    >
		<app-settings *ngIf="isOpenSettings" [closeSettings]="closeSettings.bind(this)"></app-settings>
	</div>
