<div [ngClass]="open ? 'side-menu open' : 'side-menu'">
  <div class="add-language">
    <button (click)="subtitlesService.loadSubtitles()">+ Upload subtitles</button>
  </div>
  <div class="language-container">
      <div class="select-language" *ngIf="mpvService.state.trackList.length !==0">
          <span class="select-language-title">Select audio-track: </span>
          <ul class="select-language-list">
            <li *ngFor="let lang of filterAudioTrack(mpvService.state.trackList)" [value]="lang.id">
              <input type="radio" name="language-audio" [id]="lang.id"
                [checked]="lang.selected === true" (change)="onChangeAudioTrack($event)">
              <label [for]="lang.id">{{lang.lang || 'standart'}}</label>
            </li>
          </ul>
        </div>
    <div class="select-language" *ngIf="subtitlesService.subtitles">
      <span class="select-language-title">Select subtitles: </span>
      <ul class="select-language-list">
        <li *ngFor="let lang of subtitlesService.subtitles" [value]="lang.number">
          <input type="radio" name="language-subtitle" [id]="lang.number"
            [checked]="lang.number === subtitlesService.currentSubtitleLanguageNumber" (change)="onChangeLang($event)">
          <label [for]="lang.number">{{lang.language || 'eng'}}</label>
        </li>
      </ul>
    </div>
    
  </div>
  <app-subtitles-list></app-subtitles-list>
</div>