<div class="resize" (mousedown)="handleResize($event)">
    <svg-icon
        src="assets/images/resize.svg"
        [svgStyle]="{ 'width.%': 100, 'height.%': 100 }"
    ></svg-icon>
</div>
<div *ngIf="open === 'videoService'" class="video-service">
    <div class="language-container">
        <div
            class="select-language select-language-audio"
            *ngIf="mpvService.state.trackList.length !== 0"
        >
            <span class="select-language-title">Audio: </span>
            <select
                class="select-language-list"
                (change)="onChangeAudioTrack($event)"
            >
                <option
                    *ngFor="
                        let lang of filterAudioTrack(mpvService.state.trackList)
                    "
                    [value]="lang.id"
                    [selected]="lang.selected === true"
                >
                    {{
                        (lang.title || "") +
                            " (" +
                            (lang.lang || "standart") +
                            ")"
                    }}
                </option>
            </select>
        </div>
        <div
            class="select-language select-language-subtitles"
            *ngIf="mpvService.state.duration !== 0"
        >
						<span class="select-language-title">Subtitles: </span>
            <div class="select-language-wrapper">
							<select
									class="select-language-list"
									(change)="onChangeLang($event, 1)"
							>
									<option
											*ngFor="
												let lang of subtitlesService.subtitles
											"
											[value]="lang.number"
											[selected]="lang.number ===
											subtitlesService.currentSubtitleLanguageNumber"
									>
											{{
												lang.language
											}}
									</option>
						</select>
							<select
									class="select-language-list"
									(change)="onChangeLang($event, 2)"
							>
									<option
											*ngFor="
												let lang of subtitlesService.subtitles
											"
											[value]="lang.number"
											[selected]="lang.number ===
											subtitlesService.secondSubtitleLanguageNumber"
									>
											{{
												lang.language
											}}
									</option>
						</select>
                <div class="add-language">
                    <button (click)="onOpenSubtitles($event)">
                        Load subtitles
                    </button>
                </div>
            </div>
        </div>
        <div
            [class]="
                'change-theme-button' +
                (mpvService.state.duration === 0 ? ' only' : '')
            "
            (click)="onChangeTheme()"
        >
            <svg-icon
                src="assets/images/change-theme.svg"
                [svgStyle]="{ 'width.%': 100, 'height.%': 100 }"
            ></svg-icon>
        </div>

        <div
            class="settingsForSelectedSubtitles"
            *ngIf="showSettingsForSelectedSubtitles()"
        >
            <div
                class="icon btn"
                (click)="subtitlesListComponent.playChecked()"
            >
                <svg-icon
                    src="assets/images/play-fill.svg"
                    [svgStyle]="{ 'height.%': 100, 'width.%': 100 }"
                ></svg-icon>
            </div>
            <div
                class="icon btn"
                (click)="subtitlesListComponent.loopChecked()"
            >
                <svg-icon
                    src="assets/images/loop.svg"
                    [svgStyle]="{ 'height.%': 100, 'width.%': 100 }"
                ></svg-icon>
            </div>
            <div class="playback-speed btn">
                <div
                    class="icon"
                >
                    <svg-icon
                        src="assets/images/speed.svg"
                        [svgStyle]="{ 'height.%': 100, 'width.%': 100 }"
                    ></svg-icon>
                </div>
                <ul class="playback-speed-popup">
                    <li
                        *ngFor="let speed of mpvService.playbackSpeedList"
                        (click)="subtitlesListComponent.playbackSpeedChecked(speed)"
                    >
                        <p>{{ speed === 1 ? "Ordinary" : speed }}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="filter-subtitles">
        <div class="search-icon">
            <svg-icon
                src="assets/images/search.svg"
                [svgStyle]="{ 'height.%': 100 }"
            ></svg-icon>
        </div>
        <input
            type="text"
            [(ngModel)]="filterText"
            [disabled]="!subtitlesService.subtitles"
        />
    </div>
    <app-subtitles-list
        [filterText]="filterText"
        [subtitles]="subtitlesService.getCurrentSubtitles() && subtitlesService.getCurrentSubtitles().subtitle"
        [contextMenuEvent]="contextMenuEvent"
        [subtitleShift] = "getSubtitleShift()"
        [currentSubtitle]="subtitlesService.subtitles && subtitlesService.getCurrentSubtitle()"
		></app-subtitles-list>
		
		<app-subtitle-settings>

		</app-subtitle-settings>
<!-- 
    <app-word-counter>

    </app-word-counter> -->
    
</div>
<div *ngIf="open === 'tutor'" class="tutor">
    <iframe *ngIf="!iframeIsRefreshing" [src]="api" frameborder="0"></iframe>
</div>
<div class="tabs">
    <div
        [ngClass]="'button' + (open === 'videoService' ? ' active' : '')"
        (click)="openTab('videoService')"
    >
        S
    </div>
    <div
        [ngClass]="'button' + (open === 'tutor' ? ' active' : '')"
        (click)="openTab('tutor')"
    >
        T
    </div>
</div>
