.controls {
    display: flex;
    justify-content: space-between;
    &-left{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    &-right{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}

.control {
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    padding: 5px 10px;
    box-sizing: initial;
    flex: 0 0 auto;
    --color1: var(--text);
    cursor: pointer;
    &:active {
        transform: scale(1.1, 1.1);
    }
    &:hover {
        --color1: var(--main);
    }
}

input[type="range"].range {
    -webkit-appearance: none;
    width: 100%;
    margin: 0;
    background: none;
    &:focus {
        outline: none;
    }
    &::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        width: 100%;
        height: 5px;
        cursor: pointer;
        background: var(--lineBackground);
        border-radius: 5px;
    }
    &:focus::-webkit-slider-runnable-track {
        -webkit-appearance: none;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: var(--main);
        height: 5px;
        width: 0px;
        border-radius: 0px;
        margin-top: 0px;
        transition: all 0.2s ease-in-out;
    }
    &:hover {
        &::-webkit-slider-thumb {
            cursor: ew-resize;
            height: 15px;
            width: 15px;
            border-radius: 15px;
            margin-top: -5px;
        }
    }
}

.time {
    font-size: 0.8rem;
    flex: 0 0 auto;
    text-align: left;
    margin-bottom: -1px;
    display: flex;
    color: var(--text);
    &-current,
    &-duration {
        width: 55px;
        flex: 0 0 auto;
        margin: 0 5px;
    }
    &-current {
        text-align: right;
    }
    &-duration {
        text-align: left;
    }
}

.popupTime {
    $size: 30px;
    $halfSize: 15px;
    position: absolute;
    height: $size;
    width: max-content;
    background-color: var(--text);
    color: var(--background);
    margin-top: -($size + 15px);
    border-radius: 10px;
    padding: 10px;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease-in-out, visibility .2s ease-in-out;
    z-index: 101;
    &.show{
        visibility: visible;
        opacity: 0.8;
    }
    & .arrow {
        transform: translateX(-50%) translateY(40%) rotate(45deg);
        left: 50%;
        width: 15px;
        height: 15px;
        border-radius: 5px;
        background-color: var(--text);
        z-index: -1;
        position: absolute;
        bottom: 0;
    }
}
.control-settings {
    position: relative;
    .control{
        transform: rotate(0deg);
    }
    .settings {
        opacity: 0;
        position: absolute;
        bottom: 100%;
        margin-bottom: 5px;
        background-color: var(--background);
        color: var(--text);
        right: 0;
        border-radius: 5px 5px 0 0;
        visibility: hidden;
        width: max-content;
        z-index: 100;
    }
    &.show {
        .control {
            transform: rotate(-45deg);
            --color1: var(--main);
        }
        .settings {
            opacity: 0.99;
            visibility: visible;
        }
    }
}

.control-volume{
    display: flex;
    padding-right: 10px;
    .range{
        width: 0px;
        flex: 0 0 auto;
    }
    &.show{
        .range{
            width: 80px;
        }
    }
}

.time-range{
    position: relative;
    height: 5px;
    .range{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
}
