.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.control {
    width: 25px;
    height: 25px;
    border: none;
    outline: none;
    padding: 5px 10px;
    box-sizing: initial;
    flex: 0 0 auto;
    --color1: var(--text);
    &:active {
        transform: scale(1.1, 1.1);
    }
    &:hover {
        --color1: var(--main);
        cursor: pointer;
    }
}

input[type="range"].seek {
    -webkit-appearance: none;
    flex: 1 1 auto;
    width: 0;
    margin: 0;
    background: none;
    &:focus {
        outline: none;
    }
    &::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        width: 100%;
        height: 5px;
        cursor: pointer;
        background: var(--lineBackground);
        border-radius: 5px;
    }
    &:focus::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        background: var(--hoverText);
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        background: var(--main);
        height: 5px;
        width: 0px;
        border-radius: 0px;
        margin-top: 0px;
        transition: all 0.2s ease-in-out;
    }
    &:hover {
        &::-webkit-slider-thumb {
            cursor: ew-resize;
            height: 15px;
            width: 15px;
            border-radius: 15px;
            margin-top: -5px;
        }
    }
}

.time {
    font-size: 0.8rem;
    flex: 0 0 auto;
    text-align: left;
    margin-bottom: -1px;
    display: flex;
    color: var(--text);
    &-current,
    &-duration {
        width: 55px;
        flex: 0 0 auto;
        margin: 0 5px;
    }
    &-current {
        text-align: right;
    }
    &-duration {
        text-align: left;
    }
}

.popupTime {
    $size: 30px;
    $halfSize: 15px;
    position: absolute;
    height: $size;
    width: max-content;
    background-color: var(--text);
    color: var(--background);
    margin-top: -($size + 15px);
    border-radius: 10px;
    padding: 10px;
    transform: translateX(-50%);
    z-index: 1;
    opacity: 0.8;
    transition: none;

    &::after {
        content: "";
        display: block;
        transform: translateX(-50%) translateY(40%) rotate(45deg);
        left: 50%;
        width: 15px;
        height: 15px;
        border-radius: 5px;
        background-color: var(--text);
        z-index: -1;
        position: absolute;
        bottom: 0;
    }
}
.control-settings {
    position: relative;
    .settings {
        opacity: 0;
        position: absolute;
        bottom: 100%;
        background-color: var(--background);
        color: var(--text);
        right: 0;
        padding: 20px;
        border-radius: 20px 20px 0 20px;
        visibility: hidden;
        width: max-content;
    }
    &.show {
        .control {
            --color1: var(--main);
        }
        .settings {
            opacity: 1;
            visibility: visible;
        }
    }
}
