@import '~styles/variables';
.controls {
    display: flex;
    height: 40px;
}

.control {
    width: 50px;
    height: 40px;
    font-size: 23px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 5px;
    background-color: $bgColor;
    color: $textColor;
}

.control:last-child {
    margin: 0 0 0 5px;
}

.control:hover {
    color: $hoverColor;
}

.seek {
    flex: 1;
    height: 40px;
    margin: 0;
    cursor: pointer;
    outline: none;
}