$betweenLineHeight: 3px;
.subtitle{
    border-right: 0px solid var(--main);
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 20px 20px 20px 0px;
    border-radius: 20px;
    color: var(--text);
    cursor: pointer;
    .checkbox{
        flex: 0 0 auto;
        height: 20px;
        width: 20px;
        margin: 0 10px;
        border-radius: 10px;
        border:1px solid var(--text);
        --color1: var(--text);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        &.checked{
            opacity: 1;
        }
        &-check{
            width: 80%;
            height: 80%;

        }
    }
    &.loop{
        background-color: var(--hoverBg);
        border-right: 5px solid var(--main);
        &.current{
            border-right: 5px solid var(--active);
        }
    }
    &.current{
        background-color: var(--select);
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    }
    .text{
        display: block;
				width: max-content;
				height: 100%;
        max-width: 100%;
				margin: 0;
				&.oneline{
					height: 16px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}
        &:hover{
            cursor: text;
        }
    }
    &:hover:not(.between-line){
        .checkbox{
            opacity: 1;
        }
        &:not(.current){
            background-color: var(--hoverBg);
        }
    }
    &.between-line{
        height: 3px;
        padding: 0;
        &.show{
            background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, var(--select) 50%, rgba(255,255,255,0) 100%);
        }
    }
}