$selectedColor : #45B8FF;
$selectedMarkColor: rgb(140, 255, 74);
$betweenLineHeight: 3px;
.subtitle{
    &.loop{
        background-color: transparentize($selectedColor,.9);
        border-right: 5px solid $selectedColor;
        &.current{
            border-right: 5px solid $selectedMarkColor;
        }
    }
    &.current{
        background-color: $selectedColor;
    }
    & p{
        display: block;
        height: 100%;
        width: 100%;
        margin: 0;
    }
    transition: background-color .2s ease-in-out;
    height: 100%;
    margin: 0;
    padding: 20px;
    &:hover{
        cursor: pointer;
        &:not(.current){
            background-color: #eee;
        }
    }
    &.between{
        border-bottom: $betweenLineHeight solid $selectedColor;
    }
    &:not(.between){
        margin-bottom: $betweenLineHeight;
    }
}